{% extends 'main/layout.html' %}

{% block title %}Изменение новости{% endblock %}

{% block content %}
    <div class="features">
        <h1>Изменение новости</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.user }}<br>
            {{ form.title }}<br>
            {{ form.photo }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span><br>
            <button class="btn btn-success" type="submit">Сохранить изменения</button>
        </form>
    </div>
{% endblock %}